.menuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-bottom: 16px;
}

.menuLink {
  text-decoration: none;
  /* color: white; */
  font-size: 16px;
  display: block;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.menuLink:hover {
  background-color: #444;
  color: #ddd;
}

.subContainer {
  display: flex;
  flex-direction: column;
}

.createLink {
  padding: 6px 12px;
  font-size: 16px;
  color: #0d6efd;
  height: 24px;
  /* background-color: #0d6efd; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.createLink:hover {
  color: #d70b48;
}
